* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Belleza', sans-serif !important;
	font-weight: 400;

}

.navbar-brand {
	font-weight: 600;
	text-transform: uppercase;
}


.navbar-toggler {
	font-size: 16px;
}

.nav-link {
	font-weight: 600;
	text-transform: uppercase;
}

section {
	scroll-margin-top: 90px;
}

section:first-child,
section:last-child {
	border: 0;
}

#hero {
	background: #F0F0F0 url(images/banner-ex.jpg) top center no-repeat;
	background-size: cover;
	padding: 400px 0 100px;
}

#hero h1,
#hero .lead {
	text-shadow: 2px 2px rgba(0,0,0,.3);
}

#tools img {
	display: inline-block;
	max-width: 40%;
	margin: 3%;
	padding: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: #2171CC;
}